<!DOCTYPE html>
{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container-fluid">
  <div class="text-center mb-3">
    <h1>Chris's Programming Blog/Forum</h1>
  </div>
  <div class="d-flex justify-content-center mb-3">
    <a
      class="nav-link btn btn-success text-white my-button"
      href="{{ url_for('new_post') }}"
    >
      Make a New Post!
    </a>
  </div>
</div>
<div class="container narrow-container">
  {% for post in posts.items %}
  <div class="card mb-4 shadow-sm front-page">
    <div class="row g-0">
      <div class="col-md-9">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text">{{ post.content[:200] }}...</p>
          <a
            href="{{ url_for('view_post', post_id=post.id) }}"
            class="btn btn-primary"
            >Read More</a
          >
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ post.date_posted.strftime('%B %d, %Y') }} by {{
      post.author.username }}
    </div>
  </div>
  {% endfor %}
  <!-- Pagination -->
  <div class="d-flex justify-content-between">
    {% if posts.has_prev %}
    <a
      href="{{ url_for('home', page=posts.prev_num) }}"
      class="btn btn-secondary"
      >Previous</a
    >
    {% else %}
    <span class="btn btn-secondary disabled">Previous</span>
    {% endif %} {% if posts.has_next %}
    <a
      href="{{ url_for('home', page=posts.next_num) }}"
      class="btn btn-secondary"
      >See more posts</a
    >
    {% else %}
    <span class="btn btn-secondary disabled">See more posts</span>
    {% endif %}
  </div>
</div>
{% endblock content %}
