<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Sign Up</h2>
  <div class="card">
    <div class="card-body">
      <form method="POST" action="{{ url_for('signup') }}">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          {{ form.username.label(class="form-label") }} {{
          form.username(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.email.label(class="form-label") }} {{
          form.email(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.password.label(class="form-label") }} {{
          form.password(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.confirm_password.label(class="form-label") }} {{
          form.confirm_password(class="form-control") }}
        </div>
        <div class="form-check mb-3">
          <input
            class="form-check-input"
            type="checkbox"
            id="showPassword"
            onclick="togglePassword()"
          />
          <label class="form-check-label" for="showPassword"
            >Show Password</label
          >
        </div>
        <div
          class="g-recaptcha"
          data-sitekey="{{ RECAPTCHA_SITE_KEY }}"
          data-callback="recaptchaCallback"
        ></div>
        <br />
        <button
          id="submitBtn"
          type="submit"
          class="btn btn-primary w-100"
          disabled
        >
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>

<script
  src="https://www.google.com/recaptcha/api.js?render=6Le0oxMqAAAAAAmb7ewaLff8T5jtkv7rjzjZUTS3"
  async
  defer
></script>
<script>
  function togglePassword() {
    var passwordField = document.querySelector('[name="password"]');
    var confirmPasswordField = document.querySelector(
      '[name="confirm_password"]'
    );
    var showPasswordCheckbox = document.getElementById("showPassword");
    if (showPasswordCheckbox.checked) {
      passwordField.type = "text";
      confirmPasswordField.type = "text";
    } else {
      passwordField.type = "password";
      confirmPasswordField.type = "password";
    }
  }

  function recaptchaCallback() {
    document.getElementById("submitBtn").disabled = false;
  }
</script>
{% endblock %}
