<!DOCTYPE html>
{% extends "base.html" %} {% block title %}{{ post.title }}{% endblock %} {%
block content %}
<div class="container mt-5">
  <h1>{{ post.title }}</h1>
  <div>{{ content|safe }}</div>

  {% if post.media_filename %} {% set ext = post.media_filename.split('.')[-1]
  %} {% if ext in ['jpg', 'jpeg', 'png', 'gif', 'tiff', 'tif', 'svg'] %}
  <img
    src="{{ url_for('static', filename='uploads/' ~ post.media_filename) }}"
    class="img-fluid"
    alt="Media"
  />
  {% elif ext in ['mp4', 'avi', 'avchd', 'mov', 'flv', 'wmv'] %}
  <video controls class="w-100">
    <source
      src="{{ url_for('static', filename='uploads/' ~ post.media_filename) }}"
      type="video/{{ ext }}"
    />
  </video>
  {% elif ext in ['mp3', 'm4a', 'wav'] %}
  <audio controls class="w-100">
    <source
      src="{{ url_for('static', filename='uploads/' ~ post.media_filename) }}"
      type="audio/{{ ext }}"
    />
  </audio>
  {% elif ext == 'pdf' %}
  <embed
    src="{{ url_for('static', filename='uploads/' ~ post.media_filename) }}"
    type="application/pdf"
    width="100%"
    height="600px"
  />
  {% elif ext in ['txt', 'html', 'xls', 'xlsx', 'csv', 'doc', 'docs'] %}
  <a
    href="{{ url_for('static', filename='uploads/' ~ post.media_filename) }}"
    target="_blank"
    >View Document</a
  >
  {% endif %} {% endif %} {% if spreadsheet_content %}
  <div class="spreadsheet-content">
    <h2>Spreadsheet Content:</h2>
    {{ spreadsheet_content | safe }}
  </div>
  {% endif %}

  <p class="mt-5">
    <small class="text-muted"
      >Posted on {{ post.date_posted.strftime('%B %d, %Y') }} by {{
      post.author.username }}</small
    >
  </p>

  {% if current_user.is_authenticated and (current_user.username ==
  post.author.username or current_user.role == 'admin') %}
  <a
    href="{{ url_for('update_post', post_id=post.id) }}"
    class="btn btn-secondary"
    >Edit</a
  >
  <form
    method="POST"
    action="{{ url_for('delete_post', post_id=post.id) }}"
    style="display: inline"
  >
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  {% endif %}

  <div class="mt-5">
    <h6>Tags:</h6>
    {% for tag in post.tags %}
    <a href="{{ url_for('tag', slug=tag.slug) }}" class="badge badge-primary"
      >{{ tag.name }}</a
    >
    {% endfor %}
  </div>

  <div class="my-3" id="reaction-buttons">
    <form id="reaction-form">
      {{ reaction_form.hidden_tag() }} {{ reaction_form.post_id(value=post.id)
      }}
      <input type="hidden" name="reaction_type" id="reaction_type" />
      <button type="button" class="btn btn-success" onclick="react('like')">
        Like (<span id="like-count"
          >{{ post.reactions.filter_by(reaction='like').count() }}</span
        >)
      </button>
      <button type="button" class="btn btn-danger" onclick="react('dislike')">
        Dislike (<span id="dislike-count"
          >{{ post.reactions.filter_by(reaction='dislike').count() }}</span
        >)
      </button>
    </form>
  </div>

  <h2 class="mb-2">Comments:</h2>
  {% for comment in comments %}
  <div class="card mb-3">
    <div class="card-body">
      <p class="card-text">{{ comment.content }}</p>
      <p class="card-text">
        <small class="text-muted"
          >Posted by {{ comment.author.username }} on {{
          comment.date_posted.strftime('%Y-%m-%d') }}</small
        >
      </p>
      {% if current_user.is_authenticated and (current_user.username ==
      comment.author.username or current_user.role == 'admin') %}
      <form
        method="POST"
        action="{{ url_for('delete_comment', comment_id=comment.id) }}"
        style="display: inline"
      >
        <button type="submit" class="btn btn-danger">Delete Comment</button>
      </form>
      {% endif %}
    </div>
  </div>
  <br />
  {% endfor %} {% if current_user.is_authenticated %}
  <h2>Add a Comment:</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div>
      {{ form.comment.label(class="form-label") }} {{
      form.comment(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% else %}
  <p>You need to <a href="{{ url_for('login') }}">login</a> to comment.</p>
  {% endif %}
</div>

<script>
  function react(reactionType) {
    document.getElementById("reaction_type").value = reactionType;
    let formData = new FormData(document.getElementById("reaction-form"));

    fetch("{{ url_for('react') }}", {
      method: "POST",
      body: formData,
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.status === "success") {
          document.getElementById("like-count").textContent = data.likeCount;
          document.getElementById("dislike-count").textContent =
            data.dislikeCount;
        } else {
          alert(data.message);
        }
      })
      .catch((error) => console.error("Error:", error));
  }
</script>
{% endblock %}
